*{margin: 0; padding: 0; color: whitesmoke; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;background-color: gainsboro;;}
.button{
    background-color: #4287f5;
    text-align: center;
    padding: 8px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 6%;
    transition-duration: 0.5s;
    margin-top: 100px;
    width: 120px;
    margin-right: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.button:hover{
    background-color: #639efc;
}
table{
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}
th{
    border: 2px whitesmoke solid;
}
header{background-color: #4287f5; height: 100px;}
.col_dark{
    background-color: rgb(136, 136, 136) !important;
}
.col_light{
    background-color: rgb(199, 199, 199) !important;
}
tr input, tr select{
    border: 1px solid white;
    width: auto;
    transition-duration: 0.2s;
}
tr input:hover, tr select:hover{
    border: 1px solid white;
    width: auto;
    background-color: rgb(136, 136, 136);
}
#date{
    width: 100%;
}
#error{
    color: red;
}